input, textarea {
	background-color: #ffffff;
}
form.filtro {
    width: auto;
    float: left;
    margin: 10px 29px;
}
select.filtro {
	float: none !important;
	width: auto !important;
}
div.contenedorFiltros {
	background-color: #c1c1c1;
    overflow: hidden;
    width: 91%;
    margin: auto;
    border-radius: 5px;
}
/*login---------------------------------------------------------------------------------------------------------------------------*/
input[type="text"].login, input[type="password"].login {
	outline: none;
	padding: 10px;
	display: block;
	width: 300px;
	border-radius: 3px;
	border: 1px solid #eee;
	margin: 20px auto;
	float: none;
}
input[type="submit"].login {
	padding: 10px;
	color: #fff;
	background: #000000;
	width: 300px;
	margin: 20px auto;
	margin-top: 0;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	float: none;
}
input[type="submit"].login:hover {
	background-color: #2A2A2A;
}
/*Buscador------------------------------------------------------------------------------------------------------------------------*/
input[type="search"].buscar {
    border-radius: 4px;
    border: 1px solid #ccc;
    height: 25px;
    padding: 5px;
    float: none;
    /*display: inherit;*/
}
input[type="submit"].buscar {
    /*float: left;*/
    margin: 3px;
    /* text-align: left; */
}
/*Otros---------------------------------------------------------------------------------------------------------------------------*/
div.formularios {
	margin-left: 5%;
	margin-top: 10px;
}
form {
	overflow: hidden;
	width: 85%;
	margin: auto;
	font-weight: 500;
	font-family: roboto;
}
input[type="text"], input[type="time"], input[type="date"], input[type="number"], input[type="password"], input[type="email"], input[type="radio"] {
	outline: none;
	padding: 10px;
	display: block;
	width: 60%;
	border-radius: 3px;
	border: 1px solid #eee;
	float: right;
	border: 1px solid #ccc;
}
input[type="radio"] {
	width: 36%;
}
.radio {
	float: right;
}
input[type="submit"] {
	padding: 5px;
	color: #fff;
	background: #000000;
	width: 61px;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
	margin: 25px;
	margin-right: 10px;
	float: right;
}
input[type="button"] {
	padding: 7px;
	color: #fff;
	background: #000000;
	/*width: 85px;*/
	margin-top: 8px;
	margin-bottom: 8px;
	border: 0;
	border-radius: 3px;
	cursor: pointer;
}
textarea {
	height: 150px;
	max-height: 160px;
	border-radius: 4px;
	padding: 6px;
	display: block;
	float: right;
	width: 60%;
	border: 1px solid #ccc;
}
select {
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	cursor: pointer;
	-webkit-appearance: none;
	width: 106px;
	height: 30px;
	border: none;
	border-radius: 4px;
	padding: 5px;
	box-shadow: 1px 1px 1px 0px;
	box-shadow: 3px 1px 3px 0 rgba(0,0,0,.15);
	box-shadow: 0 1px 3px 0 rgba(0,0,0,.15);
	border: 1px solid #ccc;
}
select {
	float: right;
	width: 230px;
}
input.desabilitado {
	/*background-color:#abaaaa !important;*/
	cursor: default !important;
}