* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
nav {
	background-color: #000000;
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	box-shadow: 0 -5px 3px 6px rgba(0,0,0,.255);
	left: 0 !important;
	font-family: 'Roboto', sans-serif;
}
ul.nav {
	list-style-type: none; 
	margin-left: 10%;
}
nav ul li.nivel1 {
	display: inline-block;
	width: 11%;
	position: relative;
	text-align: center;
}
nav ul li.login {
	display: inline-block;
	min-width: 16%;
	position: relative;
	text-align: center;
	float: right;
	padding-right: 15px;
}
nav ul li.usuario {
	display: inline-block;
	min-width: 8%;
	position: relative;
	text-align: center;
	cursor: pointer;
	float: right;
	padding-right: 15px;
	margin-right: 100px;
}
nav li a {
	display: block;
	text-decoration: none;
	line-height: 50px;
	color: #ffffff;
	font-weight: 300;
}
nav li.nivel1:hover a, #menu_gral li a:focus {
	background: #252525;
}
nav ul li.login:hover, nav ul li.usuario:hover {
	background: #252525;
}
ul.ul2 {
	position:absolute;
	background-color: red;
	width: 130px;
	display: none;
}

li.usuario2 {
	background-color: #FFFFFF;
	width: 100%;
	color: #000000;
	list-style-type: none;
}

li.usuario:hover > ul.ul2 {
	display:block;
}
a.usuario {
	color: #000000;
}

.imgNAV {
	visibility: hidden;
	position: absolute;
}